authtoken: {{ ngrok_api_key }} 

tunnels:
    ssh:
        proto: tcp
        addr: localhost:22
    grafana:
        proto: http
        addr: http://localhost:3000
        bind_tls: false
    netbox:
        proto: http
        addr: http://localhost:32768
        bind_tls: false
    awx:
        proto: http
        addr: http://localhost:81
        bind_tls: false
        host_header: rewrite localhost:81
