
###############
# SVIs 
###############

{% for vni in l2vnis %}
{% if devices['leaf01'].interfaces.svis[vni.vlan] is defined %}
auto vlan{{ vni.vlan }}
iface vlan{{ vni.vlan }}
    vrf {{ devices['leaf01'].interfaces.svis[vni.vlan].vrf }}
    vlan-id {{ vni.vlan }}
    vlan-raw-device bridge
    address {{ devices['leaf01'].interfaces.svis[vni.vlan].ipv4 }}
    address-virtual 00:00:5e:00:01:01 {{ devices['leaf01'].interfaces.svis[vni.vlan].ipv4_vrr }} {{ devices['leaf01'].interfaces.svis[vni.vlan].ipv6_vrr }} fe80::1/64

{% else %}
auto vlan{{ vni.vlan }}
iface vlan{{ vni.vlan }}
    vlan-id {{ vni.vlan }}
    vlan-raw-device bridge
    ip-forward off
    ip6-forward off
    
{% endif %}
{% endfor %}
