{% for vni in l2vnis %}
auto vni{{ vni.id }}
iface vni{{ vni.id }}
    bridge-access {{ vni.vlan }}
    bridge-arp-nd-suppress on
    bridge-learning off
    mstpctl-bpduguard yes
    mstpctl-portbpdufilter yes
    vxlan-id {{ vni.id }}
    vxlan-local-tunnelip {{ devices[inventory_hostname].loopback|ipaddr('address')}}

auto vlan{{ vlan.id }}
iface vlan{{ vlan.id }}
    vlan-id {{ vlan.id }}
    vlan-raw-device bridge
    ip-forward off
    ip6-forward off

{% endfor %}
