---
- name: Set IPv4 L4 hashing
  sysctl:
    name: net.ipv4.fib_multipath_hash_policy
    value: 1
    state: present
    reload: yes

- name: PTM topology file 
  copy:
    src: qhpoc-vx.dot
    dest: /etc/ptm.d/topology.dot

- name: Enable PTM 
  systemd:
    name: ptmd.service
    enabled: yes
    state: restarted

- name: Configured NTP in management VRF
  command: "{{item}}"
  with_items:
    - systemctl stop ntp.service
    - systemctl disable ntp.service
    - systemctl enable ntp@mgmt
    - systemctl start ntp@mgmt

- name: Add Cumulus Apt Key
  apt_key:
    url: "https://apps3.cumulusnetworks.com/setup/cumulus-apps-deb.pubkey"
    state: present

- name: Add Cumulus Repo
  apt_repository:
    repo: deb https://apps3.cumulusnetworks.com/repos/deb CumulusLinux-3 netq-2.3
    state: present
    update_cache: yes 

- name: Uninstall existing netq 
  apt:
    name: cumulus-netq
    state: absent 

- name: Install NetQ2.3
  apt:
    name: cumulus-netq
    update_cache: yes

- name: NetQ credentials file
  template:
    src: netq_credentials.j2
    dest: /home/cumulus/credentials.yml

- name: Add NetQ server
  command: netq config add agent server {{ netq.server }} port 31980 vrf mgmt

- name: Configure NetQ CLI
  command: netq config add cli server {{ netq.server }} cli-keys-file /home/cumulus/credentials.yml premises "{{ netq_premise }}" vrf mgmt port 32708

- name: Restart agent
  command: netq config restart agent

- name: Restart cli
  command: netq config restart cli
...
