---
- name: Ping to learn prefixes
  command: screen -dm ip vrf exec "{{ item.app }}" ping 192.168."{{ item.prefix }}"."{{ item.destination }}" -c 120
  loop:
    - { app: 'app1', prefix: '11', destination: '11'} 
    - { app: 'app1', prefix: '11', destination: '12'} 
    - { app: 'app1', prefix: '11', destination: '13'} 
    - { app: 'app1', prefix: '11', destination: '14'} 
    - { app: 'app1', prefix: '11', destination: '15'} 
    - { app: 'app1', prefix: '11', destination: '16'} 
    - { app: 'app1', prefix: '11', destination: '50'} 
    - { app: 'app1', prefix: '11', destination: '60'} 
    - { app: 'app2', prefix: '10', destination: '11'} 
    - { app: 'app2', prefix: '10', destination: '12'} 
    - { app: 'app2', prefix: '10', destination: '13'} 
    - { app: 'app2', prefix: '10', destination: '14'} 
    - { app: 'app2', prefix: '10', destination: '15'} 
    - { app: 'app2', prefix: '10', destination: '16'} 
    - { app: 'app2', prefix: '10', destination: '50'} 
    - { app: 'app2', prefix: '10', destination: '60'} 
    - { app: 'app3', prefix: '13', destination: '11'} 
    - { app: 'app3', prefix: '13', destination: '12'} 
    - { app: 'app3', prefix: '13', destination: '13'} 
    - { app: 'app3', prefix: '13', destination: '14'} 
    - { app: 'app3', prefix: '13', destination: '15'} 
    - { app: 'app3', prefix: '13', destination: '16'} 
    - { app: 'app3', prefix: '13', destination: '50'} 
    - { app: 'app3', prefix: '13', destination: '60'} 
    - { app: 'app4', prefix: '12', destination: '11'} 
    - { app: 'app4', prefix: '12', destination: '12'} 
    - { app: 'app4', prefix: '12', destination: '13'} 
    - { app: 'app4', prefix: '12', destination: '14'} 
    - { app: 'app4', prefix: '12', destination: '15'} 
    - { app: 'app4', prefix: '12', destination: '16'} 
    - { app: 'app4', prefix: '12', destination: '50'} 
    - { app: 'app4', prefix: '12', destination: '60'} 
    - { app: 'app5', prefix: '15', destination: '11'} 
    - { app: 'app5', prefix: '15', destination: '12'} 
    - { app: 'app5', prefix: '15', destination: '13'} 
    - { app: 'app5', prefix: '15', destination: '14'} 
    - { app: 'app5', prefix: '15', destination: '15'} 
    - { app: 'app5', prefix: '15', destination: '16'} 
    - { app: 'app5', prefix: '15', destination: '50'} 
    - { app: 'app5', prefix: '15', destination: '60'} 
    - { app: 'app6', prefix: '14', destination: '11'} 
    - { app: 'app6', prefix: '14', destination: '12'} 
    - { app: 'app6', prefix: '14', destination: '13'} 
    - { app: 'app6', prefix: '14', destination: '14'} 
    - { app: 'app6', prefix: '14', destination: '15'} 
    - { app: 'app6', prefix: '14', destination: '16'} 
    - { app: 'app6', prefix: '14', destination: '50'} 
    - { app: 'app6', prefix: '14', destination: '60'} 

- name: Ping6 to learn prefixes
  command: screen -dm ip vrf exec "{{ item.app }}" ping6 fc00:"{{ item.prefix }}"::"{{ item.destination }}" -c 120 
  loop:
    - { app: 'app1', prefix: '11', destination: '11'} 
    - { app: 'app1', prefix: '11', destination: '12'} 
    - { app: 'app1', prefix: '11', destination: '13'} 
    - { app: 'app1', prefix: '11', destination: '14'} 
    - { app: 'app1', prefix: '11', destination: '15'} 
    - { app: 'app1', prefix: '11', destination: '16'} 
    - { app: 'app1', prefix: '11', destination: '50'} 
    - { app: 'app1', prefix: '11', destination: '60'} 
    - { app: 'app2', prefix: '10', destination: '11'} 
    - { app: 'app2', prefix: '10', destination: '12'} 
    - { app: 'app2', prefix: '10', destination: '13'} 
    - { app: 'app2', prefix: '10', destination: '14'} 
    - { app: 'app2', prefix: '10', destination: '15'} 
    - { app: 'app2', prefix: '10', destination: '16'} 
    - { app: 'app2', prefix: '10', destination: '50'} 
    - { app: 'app2', prefix: '10', destination: '60'} 
    - { app: 'app3', prefix: '13', destination: '11'} 
    - { app: 'app3', prefix: '13', destination: '12'} 
    - { app: 'app3', prefix: '13', destination: '13'} 
    - { app: 'app3', prefix: '13', destination: '14'} 
    - { app: 'app3', prefix: '13', destination: '15'} 
    - { app: 'app3', prefix: '13', destination: '16'} 
    - { app: 'app3', prefix: '13', destination: '50'} 
    - { app: 'app3', prefix: '13', destination: '60'} 
    - { app: 'app4', prefix: '12', destination: '11'} 
    - { app: 'app4', prefix: '12', destination: '12'} 
    - { app: 'app4', prefix: '12', destination: '13'} 
    - { app: 'app4', prefix: '12', destination: '14'} 
    - { app: 'app4', prefix: '12', destination: '15'} 
    - { app: 'app4', prefix: '12', destination: '16'} 
    - { app: 'app4', prefix: '12', destination: '50'} 
    - { app: 'app4', prefix: '12', destination: '60'} 
    - { app: 'app5', prefix: '15', destination: '11'} 
    - { app: 'app5', prefix: '15', destination: '12'} 
    - { app: 'app5', prefix: '15', destination: '13'} 
    - { app: 'app5', prefix: '15', destination: '14'} 
    - { app: 'app5', prefix: '15', destination: '15'} 
    - { app: 'app5', prefix: '15', destination: '16'} 
    - { app: 'app5', prefix: '15', destination: '50'} 
    - { app: 'app5', prefix: '15', destination: '60'} 
    - { app: 'app6', prefix: '14', destination: '11'} 
    - { app: 'app6', prefix: '14', destination: '12'} 
    - { app: 'app6', prefix: '14', destination: '13'} 
    - { app: 'app6', prefix: '14', destination: '14'} 
    - { app: 'app6', prefix: '14', destination: '15'} 
    - { app: 'app6', prefix: '14', destination: '16'} 
    - { app: 'app6', prefix: '14', destination: '50'} 
    - { app: 'app6', prefix: '14', destination: '60'} 
...
